<template>
  <div>
    <b-button @click="addnew" variant="success">ตั้งกระทู้</b-button>
    <b-modal
      id="modal-product"
      ref="modalProduct"
      title="ชื่อ"
      @show="showModal"
      @ok="handleOK"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="gorm-group-product-name"
          label="ชื่อ"
          label-for="product-name"
        >
          <b-form-input
            type="text"
            id="product-name"
            placeholder="ชื่อ"
            disabled
            v-model="form.username"
            autofocus
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="gorm-group-product-title"
          label="หัวข้อกระทู้"
          label-for="product-title"
        >
          <b-form-input
            type="text"
            id="product-title"
            placeholder="หัวข้อกระทู้"
            v-model="form.title"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="gorm-group-product-detailtitle"
          label="รายละเอียด"
          label-for="product-detailtitle"
        >
          <b-form-textarea
            type="text"
            id="product-detailtitle"
            placeholder="รายละเอียด"
            v-model="form.detailtitle"
          ></b-form-textarea>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  props: {
    product: {
      type: Object
    }
  },
  data () {
    return {
      form: {
        username: '',
        title: '',
        detailtitle: ''
      },
      addnewsList: []
    }
  },
  methods: {
    getname () {
      console.log('username')
      this.form.username = this.$store.state.auth.user.username
    },
    addnew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalProduct.show()
    },
    submit () {
      axios
        .post('http://localhost:8081/myheading/add', this.form)
        .then((res) => {
          console.log(res.data)
          this.headingItem = res.data
        })
      this.$emit('save', true)
    },
    // reset () {
    //   this.form = {
    //     user_id: '',
    //     username: '',
    //     title: '',
    //     detailtitle: ''
    //   }
    // },
    showModal () {
      if (this.isAddNew) {
        // this.reset()
      } else {
        // edit
        console.log('edit')
        // this.form.id = this.product.id
        // this.form.user_id = this.product.user_id
        // this.form.username = this.product.username
        this.form.title = this.product.title
        this.form.detailtitle = this.product.detailtitle
      }
    },
    handleOK (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-product')
      })
    }
  },
  mounted () {
    this.getname()
  }
}
</script>
<style></style>
