<template>
  <div>
    <b-container>
      <br />
      <b-row>
        <b-col> <Admin></Admin> </b-col>
      </b-row>
      <b-col>
        <div class="card form" style="padding: 20px; margin-top: 10px">
          <b-card-header style="background-color: #f7d333; text-align: center">
            <b-card-title>กระทู้ทั้งหมด</b-card-title> </b-card-header
          ><br />
          <b-form-group>
            <b-input-group size="md">
              <b-form-input
                id="filter-input"
                v-model="filter"
                type="search"
                placeholder=" ค้นหา"
                style="margin-left: 700px"
              ></b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >ค้นหา</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <b-nav>
            <b-nav-item>กระทู้ทั้งหมด</b-nav-item>
            <!-- <b-nav-item to="/unheading">กระทู้ไม่เหมาะสม</b-nav-item> -->
            <!-- <b-nav-item to="/report">กระทู้รายงาน</b-nav-item> -->
          </b-nav>
          <!-- <div style="margin-left: 950px">
              <Fromproperly
                :product="selectitem"
                ref="headingform"
                @save="saveProduct"
              ></Fromproperly>
            </div> -->
          <b-table
            :filter="filter"
            striped
            hover
            :items="headingItem"
            :fields="fields"
          >
          <template #cell(operators)="{ item }">
                <b-button
                  class="ml-1"
                  variant="danger"
                  @click="deleteHeading(item)"
                  >ไม่เหมาะสม</b-button
                ></template
              >
          </b-table>
        </div>
      </b-col>
    </b-container>
  </div>
</template>
<script>
import axios from 'axios'
// import Fromproperly from './Heading_Ad.vue'
import Admin from '../../components/Admin.vue'
export default {
  components: {
    // Fromproperly,
    Admin
  },
  data () {
    return {
      fields: [
        { key: 'username', label: 'ชื่อ' },
        { key: 'title', label: 'หัวข้อกระทู้' },
        { key: 'detailtitle', label: 'รายละเอียด' },
        { key: 'operators', label: '' }
      ],
      headingItem: [],
      selectitem: null,
      filter: null
    }
  },
  methods: {
    getstatus () {
      console.log('data')
      axios
        .get('http://localhost:8081/myheading')
        .then((res) => {
          console.log(res)
          this.headingItem = res.data
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    saveProduct (product) {
      if (product.id < 1) {
        axios
          .post('http://localhost:8081/myheading/add', product)
          .then((res) => {
            this.getstatus()
          })
      }
    },
    deleteHeading (item) {
      console.log(item.id)
      if (confirm(`คุณต้องการลบกระทู้ ${item.title} หรือไม่`)) {
        axios.delete('http://localhost:8081/StatusHeading/' + item.id).then(
          function (res) {
            this.getstatus()
          }.bind(this)
        )
      }
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key }
        })
    }
  },
  mounted () {
    this.getstatus()
  }
}
</script>

<style></style>
