<template>
  <!-- <Auth> -->
    <div>
      <b-row> </b-row>
      <b-container>
        <br />
        <b-row>
          <b-col> <Member></Member> </b-col>
        </b-row>
        <b-col id="detail">
          <div class="card form" style="padding: 20px; margin-top: 10px">
            <b-card-header
              style="background-color: #f7d333; text-align: center"
            >
              <b-card-title>ตั้งกระทู้</b-card-title>
            </b-card-header>
            <div>
              <b-container>
                <br />
                  <b-col id="detail">
                    <b-card
                      img-src="../../assets/heading.jpg"
                      style="
                      width: 380px;
                      height: 320px;
                      margin-left: 280px;
                    "
                    ></b-card>
                    <h1 style="margin-left: 390px">กระทู้คำถาม</h1><br>
                    <div style="margin-left: 450px">
                      <Addnews
                :product="selectitem"
                ref="headingform"
                @save="saveProduct"
              ></Addnews>
                    </div>
                  </b-col>
              </b-container>
            </div>
          </div>
        </b-col>
      </b-container></div
  >
  <!-- </Auth> -->
</template>
<script>
import Member from '../../components/Member.vue'
import axios from 'axios'
import Addnews from '../heading/Add_news.vue'
// import Auth from '../../components/Auth.vue'
export default {
  components: {
    Addnews,
    // Auth,
    Member
  },
  data () {
    return {
      form: {
        id: '',
        user_id: '',
        username: '',
        title: '',
        detailtitle: ''
      },
      headingItem: [],
      selectitem: null
    }
  },
  methods: {
    getheading (item) {
      console.log('getdata')
      axios.get('http://localhost:8081/myheading/' + item).then((res) => {
        console.log(res.data)
        this.headingItem = res.data
      })
    },
    async saveProduct (product) {
      console.log('submit', product)
      if (product.id > 0) {
        await axios
          .put('http://localhost:8081/myheading/' + product.id, product)
          .then((res) => {
            this.getheading(this.$store.state.auth.user.id)
          })
      } else {
        console.log('selected', this.selectitem)
        await axios
          .post('http://localhost:8081/myheading/add', product)
          .then((res) => {
            this.getheading(this.$store.state.auth.user.id)
          })
        if (confirm(`เพิ่มกระทู้ ${product.title} เรียบร้อย`)) {
        }
      }
    }
  },
  mounted () {
    this.getheading(this.$store.state.auth.user.id)
  }
}
</script>
