<template>
  <!-- <Auth> -->
  <div>
    <b-container>
      <br />
      <b-row>
        <b-col> <Member></Member> </b-col>
      </b-row>
      <b-col id="detail">
        <div class="card form" style="padding: 10px; margin-top: 10px">
          <b-card-header style="background-color: #f7d333; text-align: center">
            <b-card-title>กระทู้ของฉัน</b-card-title>
          </b-card-header>
          <br />
          <div style="margin-left: 950px">
            <Addnews
              :product="selectitem"
              ref="headingform"
              @save="saveProduct"
            ></Addnews>
          </div>
          <br />
          <b-form-group>
            <b-input-group size="md" style="margin-left: -700px">
              <b-form-input
                id="filter-input"
                v-model="filter"
                type="search"
                placeholder=" ค้นหา"
                style="margin-left: 700px"
              ></b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >ค้นหา</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <b-table
            :filter="filter"
            striped
            hover
            :items="headingItem"
            :fields="fields"
          >
            <template #cell(operators)="{ item }">
              <b-button @click="editHeading(item)">แก้ไข</b-button>
              <b-button
                class="ml-1"
                variant="danger"
                @click="deleteHeading(item)"
                >ลบ</b-button
              ></template
            >
          </b-table>

          <br />
        </div>
      </b-col>
    </b-container>
  </div>
  <!-- </Auth> -->
</template>
<script>
import axios from 'axios'
import Member from '../../components/Member.vue'
// import Auth from '../../components/Auth.vue'
import Addnews from '../heading/Add_news.vue'
import moment from 'moment'
export default {
  components: {
    // Auth,
    Member,
    Addnews
  },
  data () {
    return {
      fields: [
        { key: 'username', label: 'ชื่อ' },
        { key: 'title', label: 'หัวข้อกระทู้' },
        { key: 'detailtitle', label: 'รายละเอียด' },
        { key: 'operators', label: '' }
      ],
      form: {
        id: '',
        user_id: '',
        username: '',
        title: '',
        detailtitle: ''
      },
      headingItem: [],
      selectitem: null,
      filter: null
    }
  },
  methods: {
    format_data (value) {
      return moment(String(value)).format('DD/MM/YYYY hh:mm')
    },
    getheading (item) {
      console.log('getdata')
      axios.get('http://localhost:8081/myheading/' + item).then((res) => {
        console.log(res.data)
        this.headingItem = res.data
      })
    },
    async saveProduct (product) {
      console.log('submit', product)
      if (product.id > 0) {
        await axios
          .put('http://localhost:8081/myheading/' + product.id, product)
          .then((res) => {
            this.getheading(this.$store.state.auth.user.id)
          })
        if (confirm(`แก้ไขกระทู้ ${product.title} สำเร็จ`)) {
        }
      } else {
        console.log('selected', this.selectitem)
        await axios
          .post('http://localhost:8081/myheading/add', product)
          .then((res) => {
            this.getheading(this.$store.state.auth.user.id)
          })
        if (confirm(`เพิ่มกระทู้ ${product.title} เรียบร้อย`)) {
        }
      }
    },
    async editHeading (item) {
      console.log('edit', item)
      this.selectitem = item
      this.$nextTick(() => {
        this.$refs.headingform.show()
      })
    },

    deleteHeading (item) {
      console.log('deleteid')
      if (confirm(`คุณต้องการลบกระทู้ ${item.title} หรือไม่`)) {
        axios.delete('http://localhost:8081/myheading/' + item.id).then(
          (res) => {
            this.getheading(this.$store.state.auth.user.id)
          }
        )
      }
    }
  },
  computed: {
    sortOptions () {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key }
        })
    }
  },
  mounted () {
    console.log('getmyheading')
    this.getheading(this.$store.state.auth.user.id)
  }
}
</script>
