<template>
  <div>
    <b-button @click="addnew" variant="success">แสดงความคิดเห็น</b-button>
    <b-modal
      id="modal-product"
      ref="modalProduct"
      title="ชื่อ"
      @show="showModal"
      @ok="handleOK"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
                <b-form-group
          id="gorm-group-product-name"
          label="รหัสสมาชิก"
          label-for="product-name"
        >
          <b-form-input
            type="text"
            id="product-name"
            placeholder="รหัสสมาชิก"
            disabled
            v-model="form.user_id"
            autofocus
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="gorm-group-product-name"
          label="ชื่อ"
          label-for="product-name"
        >
          <b-form-input
            type="text"
            id="product-name"
            placeholder="ชื่อ"
            disabled
            v-model="form.username"
            autofocus
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="gorm-group-product-comment"
          label="ความคิดเห็น"
          label-for="product-comment"
        >
          <b-form-textarea
            type="text"
            id="product-comment"
            placeholder="ความคิดเห็น"
            v-model="form.comment"
          ></b-form-textarea>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
export default {
  data () {
    return {
      form: {
        user_id: '',
        username: '',
        comment: ''
      },
      addnewsList: []
    }
  },
  methods: {
    getname () {
      this.form.username = this.$store.state.auth.user.username
    },
    getnameId () {
      this.form.user_id = this.$store.state.auth.user.user_id
    },
    addnew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalProduct.show()
    },
    submit () {
      const product = JSON.parse(JSON.stringify(this.form))
      // product.price = parseFloat(product.price)
      this.$emit('save', product)
    },
    showModal () {
      if (this.isAddNew) {
      }
    },
    handleOK (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-product')
      })
    }
  },
  mounted () {
    this.getnameId()
    this.getname()
  }
}
</script>
<style></style>
