<template>
  <div>
    <b-container>
      <div>
        <b-row>
          <b-col> <Member></Member> </b-col>
        </b-row>
        <b-card
          overlay
          img-src="https://picsum.photos/900/250/?image=3"
          img-alt="Card Image"
          text-variant="white"
          title="น้องพี่ที่ปรึกษา"
        >
          <h3>
            ตั้งกระทู้คำถามหรือแชทปรึกษาสิ่งที่คุณอยากรู้!!
          </h3>
        </b-card>
      </div>
      <div class="card" style="padding: 20px; margin-top: 10px">
        <b-card-header style="background-color: #f7d333">
          <b-card-title>กระทู้</b-card-title> </b-card-header
        ><br />
        <b-card-group  v-for="index in Title" :key="index.id">
          <b-card class="data mt-3" >
            <h4>{{ index.title }}</h4>
            <h6>{{ index.detailtitle }}</h6>
            <p><b>เวลา: </b>{{ format_data(index.time_heading) }}</p>
            <p><b>ชื่อ: </b>{{ index.username }}</p>
            <!-- <detailhome :index="index" class="float-right"></detailhome> -->
            <router-link class="float-right" to="/comment" :index="index" >ดูคอมเม้น</router-link>
          </b-card>
        </b-card-group>
      </div>
    </b-container>
  </div>
</template>
<script>
import axios from 'axios'
import Member from '../../components/Member.vue'
// import detailhome from './detailHome.vue'
import moment from 'moment'
export default {
  components: {
    Member
    // detailhome
  },
  data () {
    return {
      Title: [],
      selectitem: null
    }
  },
  methods: {
    format_data (value) {
      return moment(String(value)).format('DD/MM/YYYY hh:mm')
    },
    getTitle () {
      console.log('data')
      axios
        .get('http://localhost:8081/myheading')
        .then((res) => {
          console.log(res)
          this.Title = res.data
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  },
  mounted () {
    this.getTitle()
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  }
}
</script>
<style>
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
</style>
