<template>
  <div>
    <b-container>
      <br />
      <b-row>
        <b-col> <Member></Member> </b-col>
      </b-row>
      <b-col id="detail">
        <div class="card form" style="padding: 20px; margin-top: 10px">
          <b-card-group>
          <div><h2>{{ form.title }}</h2>
            <p>{{ form.detailtitle }}</p></div><br>
        </b-card-group> <br>
          <div>
            <b-table striped hover :items="items" :fields="fields">
              <!-- <template #cell(operators)="{ item }">
                <b-button
                  class="ml-1"
                  variant="danger"
                  @click="deleteComment(item)"
                  >ลบ</b-button
                >
              </template> -->
              </b-table>
            <Comment
              style="margin-left: 850px"
              :home="selectedItem"
              ref="productForm"
              @save="saveProduct"
            >
            </Comment>
          </div>
        </div>
      </b-col>
    </b-container>
  </div>
</template>
<script>
import Member from '../../components/Member.vue'
import Comment from './comment.vue'
import axios from 'axios'
export default {
  // props: [],
  components: {
    Comment,
    Member
  },
  data () {
    return {
      // Title: [],
      selectedItem: null,
      form: {
        // id: -1,
        title: '',
        detailtitle: ''
      },
      fields: [
        { key: 'username', label: '' },
        { key: 'comment', label: '' },
        { key: 'time', label: '' }
      ],
      items: []
    }
  },
  methods: {
    getTitle () {
      console.log('data')
      axios
        .get('http://localhost:8081/myheading')
        .then((res) => {
          console.log(res)
          this.form = res.data
        })
    },
    getComment () {
      console.log('getcomment')
      axios.get('http://localhost:8081/comment').then((res) => {
        console.log(res)
        this.items = res.data
      }).catch((error) => {
        console.log(error)
      })
    },
    saveProduct (comment) {
      console.log('submit', comment)
      axios
        .post('http://localhost:8081/comment/add', comment)
        .then((res) => {
          this.getComment()
        })
    },
    deleteComment (comment) {
      if (confirm(`คุณต้องการลบกระทู้ ${comment.id} หรือไม่`)) {
        axios.delete('http://localhost:8081/comment/' + comment.id).then(
          function (res) {
            this.getComment()
          }.bind(this)
        )
      }
    }
  },
  mounted () {
    this.getTitle()
    this.getComment()
  }
}
</script>
