<template>
  <div>
    <b-button @click="addnew" variant="success">สมัครสมาชิก</b-button>
    <b-modal
      id="modal-product"
      ref="modalProduct"
      title="สมัครสมาชิก"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOK"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="gorm-group-apply-name"
          label="ชื่อผู้ใช้ :"
          label-for="apply-name"
        >
          <b-form-input
            type="text"
            id="apply-name"
            placeholder="ชื่อผู้ใช้"
            v-model="form.username"
          ></b-form-input>
          <!-- <b-form-invalid-feedback :state="validateName"
            >กรุณากรอกหัวข้อของกระทู้</b-form-invalid-feedback
          > -->
        </b-form-group>
        <b-form-group
          id="gorm-group-apply-email"
          label="อีเมล :"
          label-for="apply-email"
        >
          <b-form-input
            type="text"
            id="apply-email"
            placeholder="อีเมล"
            v-model="form.email"
          ></b-form-input>
          <!-- <b-form-invalid-feedback :state="validateName"
            >กรุณากรอกหัวข้อของกระทู้</b-form-invalid-feedback
          > -->
        </b-form-group>
        <b-form-group
          id="gorm-group-apply-password"
          label="รหัสผ่าน :"
          label-for="apply-password"
        >
          <b-form-input
            type="password"
            id="apply-password"
            placeholder="รหัสผ่าน"
            v-model="form.password"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="gorm-group-apply-repassword"
          label="ยืนยันรหัสผ่าน :"
          label-for="apply-repassword"
        >
          <b-form-input
            type="password"
            id="apply-repassword"
            placeholder="ยืนยันรหัสผ่าน"
            v-model="form.repassword"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="gorm-group-apply-age"
          label="อายุ :"
          label-for="apply-age"
        >
          <b-form-input
            type="text"
            id="apply-age"
            placeholder="อายุ"
            v-model="form.age"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="gorm-group-apply-usertype"
          label="ประเภทผู้ใช้งาน :"
          v-slot="{ ariaDescribedby }"
          label-for="apply-usertype"
        >
          <b-form-radio-group
            type="text"
            id="apply-usertype"
            placeholder="ประเภทผู้ใช้งาน"
            v-model="form.user_Type"
            :aria-describedby="ariaDescribedby"
            aria-controls="apply-usertype"
          >
            <b-form-radio value="บุคคลภายนอก">บุคคลภายนอก</b-form-radio>
            <b-form-radio value="นิสิต">นิสิต</b-form-radio>
          </b-form-radio-group>
        </b-form-group>
        <b-form-group
          id="faculty"
          label="คณะ: "
          label-align-sm="right"
          label-cols-sm="1"
        >
          <b-form-select
            v-model="form.faculty"
            :options="faculty"
            size="md"
            id="faculty"
            required
          >
            <b-form-select-option :value="null" disabled></b-form-select-option>
          </b-form-select>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  // props: {
  //   user: {
  //     type: Object
  //   }
  // },
  data () {
    return {
      faculty: [
        {
          value: 'คณะการจัดการและการท่องเที่ยว',
          text: 'คณะการจัดการและการท่องเที่ยว'
        },
        {
          value: 'คณะการแพทย์แผนไทยอภัยภูเบศร',
          text: 'คณะการแพทย์แผนไทยอภัยภูเบศร'
        },
        { value: 'คณะดนตรีและการแสดง', text: 'คณะดนตรีและการแสดง' },
        { value: 'คณะพยาบาลศาสตร์', text: 'คณะพยาบาลศาสตร์ ' },
        { value: 'คณะแพทยศาสตร์', text: 'คณะแพทยศาสตร์' },
        { value: 'คณะเภสัชศาสตร์', text: 'คณะเภสัชศาสตร์' },
        { value: 'คณะภูมิสารสนเทศศาสตร์', text: 'คณะภูมิสารสนเทศศาสตร์ ' },
        {
          value: 'คณะมนุษยศาสตร์และสังคมศาสตร์',
          text: 'คณะมนุษยศาสตร์และสังคมศาสตร์  '
        },
        {
          value: 'คณะรัฐศาสตร์และนิติศาสตร์',
          text: 'คณะรัฐศาสตร์และนิติศาสตร์ '
        },
        { value: 'คณะดนตรีและการแสดง', text: 'คณะดนตรีและการแสดง ' },
        { value: 'คณะพยาบาลศาสตร์', text: 'คณะพยาบาลศาสตร์' },
        { value: 'คณะโลจิสติกส์', text: 'คณะโลจิสติกส์  ' },
        { value: 'คณะวิทยาการสารสนเทศ', text: 'คณะวิทยาการสารสนเทศ ' },
        { value: 'คณะวิทยาศาสตร์', text: 'คณะวิทยาศาสตร์ ' },
        { value: 'คณะวิทยาศาสตร์การกีฬา', text: 'คณะวิทยาศาสตร์การกีฬา ' },
        { value: 'คณะวิศวกรรมศาสตร์', text: 'คณะวิศวกรรมศาสตร์  ' },
        { value: 'คณะศิลปกรรมศาสตร์', text: 'คณะศิลปกรรมศาสตร์ ' },
        { value: 'คณะศึกษาศาสตร์', text: 'คณะศึกษาศาสตร์ ' },
        { value: 'คณะสาธารณสุขศาสตร์', text: 'คณะสาธารณสุขศาสตร์  ' },
        { value: 'คณะสหเวชศาสตร์', text: 'คณะสหเวชศาสตร์   ' },
        { value: 'วิทยาลัยนานาชาติ', text: 'วิทยาลัยนานาชาติ  ' },
        { value: 'วิทยาลัยพาณิชยศาสตร์', text: 'วิทยาลัยพาณิชยศาสตร์  ' },
        {
          value: 'วิทยาลัยวิทยาการวิจัยและวิทยาการปัญญา',
          text: 'วิทยาลัยวิทยาการวิจัยและวิทยาการปัญญา '
        },
        { value: 'บัณฑิตวิทยาลัย', text: 'บัณฑิตวิทยาลัย' }
      ],
      form: {
        id: '',
        username: '',
        email: '',
        password: '',
        repassword: '',
        age: '',
        user_Type: '',
        faculty: ''
      },
      addnewsList: []
    }
  },
  methods: {
    addnew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalProduct.show()
    },
    submit () {
      axios
        .post('http://localhost:8081/apply/add', this.form)
        .then((res) => {
          console.log(res.data)
          // this.headingItem = res.data
        })

      this.$emit('save', true)
      // this.reset()
    },
    reset () {
      this.form = {
        id: '',
        username: '',
        email: '',
        password: '',
        repassword: '',
        age: '',
        user_Type: '',
        faculty: ''
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        // axios.put('http://localhost:8000/apply/id', this.form)
        // edit
        console.log(this.user)
        this.form.id = this.user.id
        this.form.username = this.user.username
        this.form.email = this.user.email
        this.form.password = this.user.password
        this.form.repassword = this.user.repassword
        this.form.age = this.user.age
        this.form.user_Type = this.user.user_Type
        this.form.faculty = this.user.faculty
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOK (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-product')
      })
    }
  }
}
</script>
<style></style>
