<template>
  <div>
    <b-container>
      <b-row>
        <b-col> <Member></Member> </b-col>
      </b-row>
      <b-col id="detail">
        <div class="card form" style="padding: 10px; margin-top: 10px">
          <b-card-header style="background-color: #f7d333; text-align: center">
            <b-card-title>แก้ไขโปรไฟล์</b-card-title>
          </b-card-header>
          <b-card-body ref="modalProduct" @submit.stop.prevent="handleUpdate">
            <b-row>
              <b-col>
                <b-row>
                  <b-col style="margin-left: -100px">
                    <b-form-group
                      label-for="form-username"
                      label="ชื่อผู้ใช้งาน: "
                      label-align-sm="right"
                      label-cols-sm="4"
                      style="margin-top: 20px"
                    >
                      <b-form-input
                        type="text"
                        id="username"
                        size="md"
                        placeholder="ชื่อผู้ใช้งาน"
                        v-model="form.username"
                        required
                      >
                      </b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>

                <b-row>
                  <b-col style="margin-left: -100px">
                    <b-form-group
                      id="email"
                      label="Email: "
                      label-align-sm="right"
                      label-cols-sm="4"
                    >
                      <b-form-input
                        type="text"
                        id="email"
                        placeholder="Email"
                        v-model="form.email"
                        required
                        disabled
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <br />
              </b-col>

              <b-col sm="5">
                <div class="Image">
                  <b-card-img
                    class="ImagePerson"
                    src="https://www.nicepng.com/png/full/192-1921815_-corgi-cartoon-face.png"
                  ></b-card-img>
                </div>
                <br />
                <!-- <div class="btnImage">
                  <button class="btn btn-info image">อัพโหลดรูปภาพ</button>
                </div> -->
                <br />
              </b-col>
            </b-row>

            <b-row>
              <b-col sm="6">
                <b-row>
                  <b-col style="margin-left: -25px">
                    <b-form-group
                      label-for="form-password"
                      label="รหัสผ่าน: "
                      label-align-sm="right"
                      label-cols-sm="3"
                      style="margin-top: 20px"
                    >
                      <b-form-input
                        id="password"
                        size="md"
                        placeholder="รหัสผ่าน"
                        v-model="form.password"
                        required
                      >
                      </b-form-input>
                    </b-form-group>
                    <b-form-group
                      id="repassword"
                      label="ยืนยันรหัสผ่าน: "
                      label-align-sm="right"
                      label-cols-sm="3"
                    >
                      <b-form-input
                        id="repassword"
                        placeholder="ยืนยันรหัสผ่าน"
                        v-model="form.repassword"
                        required
                      ></b-form-input>
                    </b-form-group>
                    <b-form-group
                      id="age"
                      label="อายุ : "
                      label-align-sm="right"
                      label-cols-sm="3"
                    >
                      <b-form-input
                        id="age"
                        placeholder="อายุ"
                        v-model="form.age"
                        required
                      ></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-col>
              <b-col sm="6">
                <b-row>
                  <b-col style="margin-left: 80px">
                    <b-form-group
                      label="ประเภทผู้ใช้งาน"
                      v-slot="{ ariaDescribedby }"
                    >
                      <b-form-radio
                        v-model="form.user_Type"
                        :aria-describedby="ariaDescribedby"
                        value="บุคคลภายนอก"
                      >
                        บุคคลภายนอก</b-form-radio
                      >
                      <b-form-radio
                        v-model="form.user_Type"
                        :aria-describedby="ariaDescribedby"
                        value="นิสิต"
                        >นิสิต</b-form-radio
                      >
                    </b-form-group>
                    <div class="mt-3">
                      เลือก: <strong>{{ form.user_Type }}</strong>
                    </div>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
            <b-row class="my-1">
              <b-col sm="12">
                <b-form-group
                  v-if="form.user_Type === 'นิสิต'"
                  label="คณะ: "
                  label-align-sm="right"
                  label-cols-sm="7"
                >
                  <b-form-select
                    :options="faculty"
                    size="md"
                    id="faculty"
                    v-model="form.faculty"
                    required
                  >
                    <b-form-select-option v-model="form.faculty">{{
                      form.faculty
                    }}</b-form-select-option>
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>

            <b-row>
              <b-col style="margin-left: 300px"> </b-col>
              <b-col>
                <div>
                  <b-col class="btn">
                    <b-button
                      v-b-modal.modal-form-Profile
                      class="btn-success"
                      @click="updateCompany"
                      >ยืนยัน</b-button
                    >
                    <b-modal
                      id="modal-form-Profile"
                      title="ยืนยันการบันทึกข้อมูล"
                      okTitle="ตกลง"
                      ok-variant="success"
                      cancel-title="ยกเลิก"
                      cancel-variant="danger"
                      class="alert"
                      ref="modal-form-Profile"
                    >
                    </b-modal>
                    <b-button
                      class="btn btn-danger"
                      style="margin-left: 20px"
                      @submit.stop.prevent="handleSubmit"
                      >ยกเลิก</b-button
                    >
                  </b-col>
                </div>
              </b-col>
            </b-row>
            <!-- </b-card-text> -->
          </b-card-body>
        </div>
      </b-col>
    </b-container>
  </div>
</template>

<script>
import Member from '../../components/Member.vue'
import axios from 'axios'
export default {
  components: {
    Member
  },
  props: ['profile'],
  data () {
    return {
      selected: null,
      faculty: [
        { value: 'คณะการจัดการและการท่องเที่ยว', text: 'คณะการจัดการและการท่องเที่ยว' },
        { value: 'คณะการแพทย์แผนไทยอภัยภูเบศร', text: 'คณะการแพทย์แผนไทยอภัยภูเบศร' },
        { value: 'คณะดนตรีและการแสดง', text: 'คณะดนตรีและการแสดง' },
        { value: 'คณะพยาบาลศาสตร์', text: 'คณะพยาบาลศาสตร์ ' },
        { value: 'คณะแพทยศาสตร์', text: 'คณะแพทยศาสตร์' },
        { value: 'คณะเภสัชศาสตร์', text: 'คณะเภสัชศาสตร์' },
        { value: 'คณะภูมิสารสนเทศศาสตร์', text: 'คณะภูมิสารสนเทศศาสตร์ ' },
        { value: 'คณะมนุษยศาสตร์และสังคมศาสตร์', text: 'คณะมนุษยศาสตร์และสังคมศาสตร์  ' },
        { value: 'คณะรัฐศาสตร์และนิติศาสตร์', text: 'คณะรัฐศาสตร์และนิติศาสตร์ ' },
        { value: 'คณะดนตรีและการแสดง', text: 'คณะดนตรีและการแสดง ' },
        { value: 'คณะพยาบาลศาสตร์', text: 'คณะพยาบาลศาสตร์' },
        { value: 'คณะโลจิสติกส์', text: 'คณะโลจิสติกส์  ' },
        { value: 'คณะวิทยาการสารสนเทศ', text: 'คณะวิทยาการสารสนเทศ ' },
        { value: 'คณะวิทยาศาสตร์', text: 'คณะวิทยาศาสตร์ ' },
        { value: 'คณะวิทยาศาสตร์การกีฬา', text: 'คณะวิทยาศาสตร์การกีฬา ' },
        { value: 'คณะวิศวกรรมศาสตร์', text: 'คณะวิศวกรรมศาสตร์  ' },
        { value: 'คณะศิลปกรรมศาสตร์', text: 'คณะศิลปกรรมศาสตร์ ' },
        { value: 'คณะศึกษาศาสตร์', text: 'คณะศึกษาศาสตร์ ' },
        { value: 'คณะสาธารณสุขศาสตร์', text: 'คณะสาธารณสุขศาสตร์  ' },
        { value: 'คณะสหเวชศาสตร์', text: 'คณะสหเวชศาสตร์   ' },
        { value: 'วิทยาลัยนานาชาติ', text: 'วิทยาลัยนานาชาติ  ' },
        { value: 'วิทยาลัยพาณิชยศาสตร์', text: 'วิทยาลัยพาณิชยศาสตร์  ' },
        { value: 'วิทยาลัยวิทยาการวิจัยและวิทยาการปัญญา', text: 'วิทยาลัยวิทยาการวิจัยและวิทยาการปัญญา ' },
        { value: 'บัณฑิตวิทยาลัย', text: 'บัณฑิตวิทยาลัย' },
        { value: '' }
      ],
      form: {
        id: '',
        username: '',
        email: '',
        password: '',
        repassword: '',
        age: '',
        user_Type: '',
        faculty: ''
      }
    }
  },
  methods: {
    getProfileId (item) {
      const user = 'http://localhost:8081/apply/' + item
      axios.get(user).then((res) => {
        console.log(res.data)
        this.form = res.data[0]
      })
    },
    async updateCompany () {
      console.log(this.form)
      if (this.form.user_Type === 'บุคคลภายนอก') {
        this.form.faculty = ''
      }

      await axios
        .put('http://localhost:8081/apply/' + this.form.id, {
          username: this.form.username,
          email: this.form.email,
          password: this.form.password,
          repassword: this.form.repassword,
          age: this.form.age,
          user_Type: this.form.user_Type,
          faculty: this.form.faculty
        })
        .then((res) => {
          console.log('editedata')
          this.getProfileId(this.form.id)
        })
    },
    // resetModal () {
    //   this.form = {
    //     id: '',
    //     username: '',
    //     email: '',
    //     password: '',
    //     repassword: '',
    //     ae: '',
    //     user_Type: '',
    //     faculty: ''
    //   }
    // },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      this.updateCompany()
    }
  },
  mounted () {
    console.log('updatedata')
    this.getProfileId(this.$store.state.auth.user.id)
  }
}
</script>
<style scoped>
.ImagePerson {
  width: 90px;
  height: 90px;
  margin-left: 200px;
}
</style>
