<template>
  <div>
    <b-container>
      <br />
      <b-row>
        <b-col> <Member></Member> </b-col>
      </b-row>
      <b-col id="detail">
        <div class="card form" style="padding: 20px; margin-top: 10px">
          <b-card-header style="background-color: #f7d333; text-align: center">
            <b-card-title>ติดต่อแอดมิน</b-card-title> </b-card-header
          ><br />
          <div style="margin-left: 900px; margin-top: 10px">
            <Fromber
              :product="selectitem"
              ref="headingform"
              @save="saveProduct"
            ></Fromber>
          </div>
          <!-- <b-form-group>
            <b-input-group size="md" style="margin-left: -700px">
              <b-form-input
                id="filter-input"
                v-model="filter"
                type="search"
                placeholder=" ค้นหา"
                style="margin-left: 700px"
              ></b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >ค้นหา</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group> -->
            <b-card-group v-for="index in Contact" :key="index.id">
          <b-card class="data mt-3" >
            <p><b>ชื่อ: </b>{{ index.username }}</p>
            <p><b>หัวข้อเรื่องที่ส่ง: </b>{{ index.title_member}}</p>
            <p><b>แอดมินตอบกลับ: </b>{{ index.detail }}</p>
          </b-card>
        </b-card-group>
            <!-- <b-table
              :filter="filter"
              striped
              hover
              :fields="fields"
            >
            </b-table> -->
        </div>
      </b-col>
    </b-container>
  </div>
</template>
<script>
import Member from '../components/Member.vue'
import axios from 'axios'
import Fromber from './Frommember.vue'
export default {
  components: {
    Fromber,
    Member
  },
  data () {
    return {
      // fields: [
      //   { key: 'username', label: 'ชื่อผู้ติดต่อ' },
      //   { key: 'detail', label: 'รายละเอียด' },
      //   { key: 'time_member', label: '' },
      //   { key: 'operators', label: '' }
      // ],
      form: {
        id: '',
        user_id: '',
        username: '',
        title_member: '',
        detail: ''
      },
      Contact: [],
      selectitem: null,
      filter: null
    }
  },
  methods: {
    getcontact (item) {
      console.log(item)
      const user = 'http://localhost:8081/contact/' + item
      axios.get(user).then((res) => {
        console.log(res.data)
        this.Contact = res.data
      })
    },
    async saveProduct (item) {
      console.log('submit', item)
      if (item.id === '') {
        await axios.post('http://localhost:8081/contactadmin/add', item).then((res) => {
          this.getcontact()
        })
      }
    }
  },
  computed: {
    sortOptions () {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key }
        })
    }
  },
  mounted () {
    console.log('datacontact')
    this.getcontact(this.$store.state.auth.user.id)
  }
}
</script>
