<template>
  <div>
    <b-button @click="addnew" variant="success">แจ้งแอดมิน</b-button>
    <b-modal
      id="modal-product"
      ref="modalProduct"
      title="ชื่อ"
      @show="showModal"
      @ok="handleOK"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="gorm-group-product-name"
          label="ชื่อ"
          label-for="product-name"
        >
          <b-form-input
            type="text"
            id="product-name"
            placeholder="ชื่อ"
            disabled
            v-model="form.username"
            autofocus
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="gorm-group-product-title"
          label="รายละเอียด"
          label-for="product-title"
        >
          <b-form-textarea
            type="text"
            id="product-title"
            placeholder="รายละเอียด"
            v-model="form.title_member"
          ></b-form-textarea>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      form: {
        user_id: '',
        username: '',
        title_member: ''
      },
      addnewsList: []
    }
  },
  methods: {
    getname () {
      this.form.username = this.$store.state.auth.user.username
    },
    getuserId () {
      // console.log('data')
      this.form.user_id = this.$store.state.auth.user.user_id
    },
    addnew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalProduct.show()
    },
    submit () {
      axios
        .post('http://localhost:8081/contactadmin/add', this.form)
        .then((res) => {
          console.log(res)
        })
        .catch(err => {
          console.log(err)
        })
      this.$emit('save', true)
      // this.reset()
    },
    // reset () {
    //   this.form = {
    //     user_id: '',
    //     username: '',
    //     title: '',
    //     detailtitle: ''
    //   }
    // },
    showModal () {
      if (this.isAddNew) {
        // this.reset()
      } else {
        // edit
        console.log('edit')
        this.user_id = this.product.user_id
        this.username = this.product.username
        this.form.title_member = this.product.title_member
      }
    },
    // resetModal (evt) {
    //   this.reset()
    // },
    handleOK (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-product')
      })
    }
  },
  mounted () {
    this.getuserId()
    this.getname()
  }
}
</script>
<style></style>
