<template>
  <!-- <b-container> -->
  <b-row align-h="center">
    <b-col cols="8">
      <b-card
        title="Login"
        img-src="../assets/Login.jpg"
        img-right
        tag="article"
        style="margin-top: 40px"
        class="cardlog"
      >
        <b-card-text>
          <div style="text-align: justify">
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
              <b-form-group
                id="input-group-1"
                label="Email address:"
                label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  v-model="form.email"
                  type="email"
                  placeholder="Enter email"
                  required
                ></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-2"
                label="Password:"
                label-for="input-2"
              >
                <b-form-input
                  id="input-2"
                  v-model="form.password"
                  placeholder="Enter password"
                  required
                  type="password"
                ></b-form-input>
              </b-form-group>

              <b-button type="reset" variant="danger">Reset</b-button>
              <b-button type="submit" variant="primary" class="m-2"
                >Login</b-button
              >
            </b-form>
            <div class="register mt-4">
              ยังไม่ได้เป็นสมาชิก
              <h4 style="">คุณต้องการ <Apply  :profile="selectitem"
                ref="profileform"></Apply>หรือไม่</h4>
            </div>
          </div>
          <!-- {{ $store.state.auth.user }} -->
          <!-- {{ $store.getters['auth/isLogin'] }} -->
        </b-card-text>
      </b-card>
    </b-col>
  </b-row>
</template>
<script>
// import axios from 'axios'
import Apply from './Testapply/Apply.vue'
export default {
  components: {
    Apply
  },
  data () {
    return {
      form: {
        id: '',
        username: '',
        email: '',
        password: '',
        repassword: '',
        age: '',
        user_type: '',
        faculty: ''
      },
      profileform: [],
      show: true,
      selectitem: null
    }
  },
  methods: {
    // getLogin () {
    //   console.log('getlogin')
    //   axios
    //     .post('http://localhost:8081/login', this.form)
    //     .then((res) => {
    //       console.log(res)
    //       router.push('/')
    //     })
    //     .catch(function (error) {
    //       console.log(error)
    //     })
    // },
    onSubmit (event) {
      event.preventDefault()
      // alert(JSON.stringify(this.form))
      this.$store.dispatch('auth/login', this.form)
    },
    onReset (event) {
      event.preventDefault()
      // Reset our form values
      this.form.id = ''
      this.form.username = ''
      this.form.email = ''
      this.form.password = ''
      this.form.repassword = ''
      this.form.age = ''
      this.form.user_type = ''
      this.form.faculty = ''
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
  // mounted () {
  //   this.getLogin()
  // }
}
</script>
