<template>
  <div>
    <b-container>
      <br />
      <b-row>
        <b-col> <Member></Member> </b-col>
      </b-row>
      <b-col id="detail">
        <div class="card form" style="padding: 20px; margin-top: 50px">
          <div class="col-10">
            <br />
            <div class="row">
              <div style="margin-left: 340px">
                <img src="../assets/profile.png" width="380px;" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" style="margin-left: 285px; margin-top: 20px">
              ผู้ให้คำปรึกษา
            </div>
            <div
              class="col-md-4 offset-md-4"
              style="margin-left: 675px; margin-top: -25px"
            >
              ผู้ขอคำปรึกษา
            </div>
          </div>
          <br />
          <div class="row">
            <b-button
              type="button"
              class="btn btn-success"
              style="margin-left: 300px"
              href="http://localhost:3000/"
              target="_blank"
              >เริ่มใช้งาน
            </b-button>
            <b-button
              type="button"
              class="btn btn-success"
              style="margin-left: 300px"
              href="http://localhost:3000/"
              target="_blank"
            >
              เริ่มใช้งาน
            </b-button>
          </div>
        </div>
      </b-col>
    </b-container>
  </div>
</template>
<script>
import Member from '../components/Member.vue'
export default {
  components: {
    Member
  },
  data () {
    return {
      startRoom: false
    }
  }
}
</script>
