<template>
  <div>
    <b-navbar toggleable="lg" type="light" style="background-color: #f7d333">
      <b-img
        src="../assets/logo4.png"
        width="100px"
        class="pt-2 pb-2"
        center
      ></b-img>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/homeadmin">หน้าแรก</b-nav-item>
          <b-nav-item to="/StatusHeading">จัดการกระทู้</b-nav-item>
          <b-nav-item to="/testapply">ดูข้อมูลสมาชิก</b-nav-item>
          <b-nav-item to="/contactadmin">ติดต่อสมาชิก</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <template #button-content>
              <em>ชื่อผู้ใช้งาน</em><em> แอดมิน</em>
            </template>
            <b-dropdown-item
              ><router-link to="/login"
                >ออกจากระบบ</router-link
              ></b-dropdown-item
            >
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
export default {}
</script>
<style>
.navbar-nav {
  padding-right: 3pt;
  padding-left: 3pt;
  margin-left: 50px;
}
</style>
