<template>
  <div>
    <b-navbar toggleable="lg" type="light" style="background-color: #f7d333">
      <b-img
        src="../assets/logo4.png"
        width="100px"
        class="pt-2 pb-2"
        center
      ></b-img>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav >
        <b-navbar-nav >
          <b-nav-item to="/">หน้าแรก</b-nav-item>
          <b-nav-item to="/heading">ตั้งกระทู้</b-nav-item>
          <b-nav-item to="/room">ห้องสนทนา</b-nav-item>
          <b-nav-item to="/contact">ติดต่อเรา</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown>
            <template #button-content>
              <em>ชื่อผู้ใช้: </em><em>{{ form.username }}</em>
            </template>
            <b-dropdown-item
              ><router-link to="/editprofile"
                >จัดการข้อมูลส่วนตัว</router-link
              ></b-dropdown-item
            >
            <b-dropdown-item
              ><router-link to="/myheading"
                >กระทู้ของฉัน</router-link
              ></b-dropdown-item
              >
              <b-dropdown-item
              ><router-link to="/login"
                >ออกจากระบบ</router-link
              ></b-dropdown-item
            >
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
export default {
  data () {
    return {
      form: {
        username: ''
      }
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
    },
    getname () {
      this.form.username = this.$store.state.auth.user.username
    }
  },
  mounted () {
    this.getname()
  }
}
</script>
<style>
.navbar-nav {
  padding-right: 3pt;
  padding-left: 3pt;
  margin-left: 50px;
}
</style>
