<template>
  <div>
    <b-container>
      <br />
      <b-row>
        <b-col> <Admin></Admin> </b-col>
      </b-row>
      <b-col id="detail">
        <div class="card form" style="padding: 20px; margin-top: 10px">
          <b-card-header style="background-color: #f7d333; text-align: center">
            <b-card-title>ติดต่อสมาชิก</b-card-title>
          </b-card-header>
          <br />

          <b-form-group>
            <b-input-group size="md">
              <b-form-input
                id="filter-input"
                v-model="filter"
                type="search"
                placeholder=" ค้นหา"
                style="margin-left: 700px"
              ></b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >ค้นหา</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <b-nav>
            <b-nav-item to="/contactadmin">รายการเข้า</b-nav-item>
            <b-nav-item disabled>รายการตอบกลับ</b-nav-item>
          </b-nav>
          <b-table
            :filter="filter"
            striped
            hover
            :items="contactItem"
            :fields="fields"
          >
            <template #cell(operators)="{ item }">
                <b-button
                  class="ml-1"
                  variant="danger"
                  @click="deleteContact(item)"
                  >ลบ</b-button
                ></template
              >
          </b-table>
        </div>
      </b-col>
    </b-container>
  </div>
</template>
<script>
import axios from 'axios'
import Admin from '../../components/Admin.vue'

export default {
  components: {
    Admin
  },
  data () {
    return {
      fields: [
        // { key: 'id', label: '' },
        { key: 'username', label: 'ชื่อผู้ติดต่อ' },
        { key: 'title_member', label: 'หัวข้อเรื่อง' },
        { key: 'detail', label: 'รายละเอียด' },
        { key: 'operators', label: '' }
      ],
      form: {
        id: '',
        user_id: '',
        username: '',
        title_member: '',
        detail: ''
      },
      contactItem: [],
      selectitem: null,
      filter: null
    }
  },
  methods: {
    getcontact () {
      axios
        .get('http://localhost:8081/contact')
        .then((res) => {
          console.log(res)
          this.contactItem = res.data
        })
        .catch((error) => {
          console.log(error)
        })
    },
    saveProduct (item) {
      console.log('submit', item)
      if (item.id < 1) {
        axios.post('http://localhost:8081/contact/add', item).then((res) => {
          this.getheading()
        })
      }
    },
    // delete
    deleteContact (item) {
      if (confirm(`คุณต้องการลบกระทู้ ${item.title} หรือไม่`)) {
        axios.delete('http://localhost:8081/contact/' + item.id).then(
          function (response) {
            this.getcontact()
          }.bind(this)
        )
      }
    }
  },
  computed: {
    sortOptions () {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key }
        })
    }
  },
  mounted () {
    this.getcontact()
  }
}
</script>
