<template>
  <div>
    <b-container>
      <br />
      <b-row>
        <b-col> <Admin></Admin> </b-col>
      </b-row>
      <b-col id="detail">
        <div class="card form" style="padding: 20px; margin-top: 10px">
          <b-card-header style="background-color: #f7d333; text-align: center">
            <b-card-title>ติดต่อสมาชิก</b-card-title> </b-card-header
          ><br />

          <b-form-group>
            <b-input-group size="md">
              <b-form-input
                id="filter-input"
                v-model="filter"
                type="search"
                placeholder=" ค้นหา"
                style="margin-left: 700px"
              ></b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >ค้นหา</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <b-nav>
            <b-nav-item disabled>รายการเข้า</b-nav-item>
            <b-nav-item to="/Sendmass">รายการตอบกลับ</b-nav-item>
          </b-nav>
          <b-table
            :filter="filter"
            striped
            hover
            :items="contactItem"
            :fields="fields"
          >
            <template #cell(operators)="data">
              <div style="margin-left: 80px">
                <Fromcontact
                  :contact="data"
                  ref="contactform"
                  @save="saveContact"
                ></Fromcontact>
              </div>
            </template>
          </b-table>
        </div>
      </b-col>
    </b-container>
  </div>
</template>
<script>
import axios from 'axios'
import Fromcontact from './Fromcontact.vue'
import Admin from '../../components/Admin.vue'
export default {
  components: {
    Fromcontact,
    Admin
  },
  data () {
    return {
      fields: [
        { key: 'id', label: '' },
        { key: 'username', label: 'ชื่อผู้ติดต่อ' },
        { key: 'title_member', label: 'หัวข้อเรื่อง' },
        { key: 'time_contact', label: '' },
        { key: 'operators', label: '' }
      ],
      form: {
        id: '',
        user_id: '',
        username: '',
        title_member: ''
      },
      contactItem: [],
      selectitem: null,
      filter: null
    }
  },
  methods: {
    getcontact () {
      axios
        .get('http://localhost:8081/contactadmin')
        .then((res) => {
          console.log(res.data)
          this.contactItem = res.data
        })
    },
    saveContact (item) {
      console.log('data', item)
      if (item.id < 1) {
        axios
          .post('http://localhost:8081/contact/add', item)
          .then((res) => {
            this.getcontact()
          })
      }
    }
  },
  computed: {
    sortOptions () {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key }
        })
    }
  },
  mounted () {
    this.getcontact()
  }
}
</script>
