<template>
  <div>
    <b-button @click="addnew" variant="success">แจ้งสมาชิก</b-button>
    <b-modal
      id="modal-product"
      ref="modalProduct"
      title="ชื่อ"
      @show="showModal"
      @ok="handleOK"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="gorm-group-product-name"
          label="รหัสสมาชิก"
          label-for="product-name"
        >
          <b-form-input
            type="text"
            id="product-name"
            placeholder="รหัสสมาชิก"
            disabled
            v-model="form.user_id"
            autofocus
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="gorm-group-product-name"
          label="ชื่อ"
          label-for="product-name"
        >
          <b-form-input
            type="text"
            id="product-name"
            placeholder="ชื่อ"
            disabled
            v-model="form.username"
            autofocus
          ></b-form-input>
        </b-form-group>
          <b-form-group
          id="gorm-group-product-title"
          label="หัวข้อเรื่อง"
          label-for="product-title"
        >
          <b-form-input
            type="text"
            id="product-title"
            placeholder="หัวข้อเรื่อง"
            disabled
            v-model="form.title_member"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="gorm-group-product-detail"
          label="รายละเอียด"
          label-for="product-detail"
        >
          <b-form-textarea
            type="text"
            id="product-detail"
            placeholder="รายละเอียด"
            v-model="form.detail"
          ></b-form-textarea>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  props: {
    contact: {
      type: Object
    }
  },
  data () {
    return {
      form: {
        // id: '',
        user_id: '',
        username: '',
        title_member: '',
        detail: ''
      },
      addnewsList: []
    }
  },
  methods: {
    // getname () {
    //   this.form.username = this.$store.state.username
    // },
    // getuserId () {
    //   this.form.user_id = this.$store.state.auth.user.user_id
    // },
    addnew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalProduct.show()
    },
    submit () {
      axios
        .post('http://localhost:8081/contact/add', this.form)
        .then((res) => {
          console.log(res)
        })
        .catch(err => {
          console.log(err)
        })
      this.$emit('save', true)
      // this.reset()
    },
    // reset () {
    //   this.form = {
    //     // id: '',
    //     user_id: '',
    //     username: '',
    //     detail: ''
    //   }
    // },
    showModal () {
      if (this.isAddNew) {
        // this.reset()
      } else {
        // edit
        console.log(this.product)
        // this.form.id = this.product.id
        this.form.user_id = this.product.user_id
        this.form.username = this.product.username
        this.form.title_member = this.product.title_member
        this.form.detail = this.product.detail
      }
    },
    // resetModal (evt) {
    //   this.reset()
    // },
    handleOK (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-product')
      })
    }
  },
  mounted () {
    console.log(this.contact.item)
    this.form = {
      user_id: this.contact.item.user_id,
      username: this.contact.item.username,
      title_member: this.contact.item.title_member
      // detail: this.contact.item.detail
    }
  }
}
</script>
<style></style>
