<!-- Vue component -->
<template>
  <div>
    <Chart :def="def" :data="data"></Chart>
  </div>
</template>

<script>
import Chart from 'vue-chartless'
import axios from 'axios'
export default {
  components: {
    Chart
  },
  data () {
    return {
      gettitle: []
    }
  },
  methods: {
    getAllTitle () {
      axios.get('').then((res) => {
        this.gettitle = res.data
      }).catch((err) => {
        console.log(err)
      })
    }
  },
  mounted () {
    this.getAllTitle()
  }
  // data: () => ({
  //   def: {
  //     type: 'bar'
  //   },
  //   data: [
  //     { label: 'มกราคม', value: '0' },
  //     { label: 'กุมภาพันธ์', value: '5' },
  //     { label: 'มีนาคม', value: '10' }
  //   ]
  // })
}
</script>
