<!-- Vue component -->
<template>
  <div>
    <!-- <Chart></Chart> -->
  </div>
</template>

<script>
// import Chart from 'vue-chartless'
// import axios from 'axios'
export default {
  // components: {
  //   Chart
  // }
  // data () {
  //   return {
  //     headingItem: [],
  //     statusItems: []
  //   }
  // },
  // data: () => ({
  //   def: {
  //     type: 'pie'
  //   },
  //   data: [
  //     // { label: 'บุคคลภายนอก', value: '3' },
  //     // { label: 'นิสิต', value: '6' }
  //   ]
  // })
}
</script>
