<template>
  <div>
    <b-container>
      <br />
      <b-row>
        <b-col> <Admin></Admin> </b-col>
      </b-row>
      <b-col id="detail">
        <div class="card form" style="padding: 10px; margin-top: 10px">
          <br />
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card" style="background-color: PaleGoldenrod">
                <div class="card-body">
                  <h5 class="allheading">กระทู้ทั้งหมด</h5>
                  <h4 v-if="headingItem.length">
                    {{ headingItem.length }}
                  </h4>
                  <b-button
                    type="button"
                    class="btn btn-success"
                    style="margin-left: 380px; margin-top: -20px"
                    to="./statusHeading"
                  >
                    ดูทั้งหมด
                  </b-button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="background-color: PaleGoldenrod">
                <div class="card-body">
                  <h5 class="allmember">ผู้ใช้ทั้งหมด</h5>
                  <h4 v-if="statusItems.length">
                    {{ statusItems.length }}
                  </h4>
                  <b-button
                    type="button"
                    class="btn btn-success"
                    style="margin-left: 380px; margin-top: -20px"
                    to="./testapply"
                  >
                    ดูทั้งหมด
                  </b-button>
                </div>
              </div>
            </div>
          </div>
          <div><br>
                <div class="col">
              <div class="card" style="background-color: PaleGoldenrod">
                <div class="card-body">
                  <h4 class="title">ข้อมูลสถิติ</h4>
                  <b-button type="button"  class="btn btn-success" href="http://127.0.0.1:5500/src/Admin/Chart/Testcharts.html" target="_blank" id="chart">สถิติอายุสมาชิก</b-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </b-col>
    </b-container>
  </div>
</template>
<script>
import Admin from '../components/Admin.vue'
import axios from 'axios'
// import Pie from './Chart/pie.vue'
// import Bar from './Chart/Bar.vue'
export default {
  components: {
    Admin
    // Pie,
    // Bar
  },
  data () {
    return {
      headingItem: [],
      statusItems: []
    }
  },
  methods: {
    getheading () {
      console.log('datagetall')
      axios
        .get('http://localhost:8081/myheading')
        .then((res) => {
          console.log(res)
          this.headingItem = res.data
          // console.log(JSON.stringify(response.data))
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    getstatus () {
      console.log('data')
      axios
        .get('http://localhost:8081/apply')
        .then((res) => {
          console.log(res)
          this.statusItems = res.data
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  },
  mounted () {
    this.getheading()
    this.getstatus()
  }
}
</script>
<style>
.title {
align-content: center;
margin-left: 440px;
}
#chart {
margin-left: 430px;
margin-top: 10px;
}
</style>
