<template>
  <div>
    <b-container>
      <br />
      <b-row>
        <b-col> <Admin></Admin> </b-col>
      </b-row>
      <b-col>
        <div class="card form" style="padding: 20px; margin-top: 10px">
          <b-card-header style="background-color: #f7d333; text-align: center">
            <b-card-title>รายชื่อสมาชิก</b-card-title> </b-card-header
          ><br />
          <b-form-group>
            <b-input-group size="md">
              <b-form-input
                id="filter-input"
                v-model="filter"
                type="search"
                placeholder=" ค้นหา"
                style="margin-left: 700px"
              ></b-form-input>

              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >ค้นหา</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <b-table
            :filter="filter"
            striped
            hover
            :items="statusItems"
            :fields="fields"
          >
          </b-table>
        </div>
      </b-col>
    </b-container>
  </div>
</template>
<script>
import axios from 'axios'
import Admin from '../components/Admin.vue'
export default {
  components: {
    Admin
  },
  data () {
    return {
      // oid: '',
      fields: [
        { key: 'username', label: 'รายชื่อสมาชิก' },
        { key: 'email', label: 'อีเมลสมาชิก' }
      ],
      statusItems: [],
      selectitem: null,
      filter: null
    }
  },
  methods: {
    getstatus () {
      console.log('data')
      axios
        .get('http://localhost:8081/apply')
        .then((res) => {
          console.log(res)
          this.statusItems = res.data
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  },
  computed: {
    sortOptions () {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key }
        })
    }
  },
  mounted () {
    console.log('dataget')
    this.statusItems = this.getstatus
  }
}
</script>

<style></style>
