<template>
  <div id="app">
    <b-row class="text-justify">
        <b-col><router-view></router-view></b-col>
      </b-row>

  </div>
</template>
<script>
export default {
  name: 'App',
  data () {
    return {}
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
    }
  }
}
</script>

<style></style>
